/* Resetting margins, paddings, and borders for all elements */
* {
  border: 0;
  box-sizing: border-box;
}

/* Setting base font properties */

body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #f1e7f8;
}

/* Setting table properties */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Navigation bar header styles */

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  background-color: white;
  color: #582c83;
  font-weight: 600;
  box-shadow: 5px 5px 5px hsl(0, 0%, 50%);
}

@media (max-width: 750px) {
  .nav-bar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    background-color: white;
    color: #582c83;
    font-weight: 600;
    box-shadow: 5px 5px 5px hsl(0, 0%, 50%);
  }
}

.nav-home {
  margin: 0px 20px;
  display: flex;
  align-items: center;
  font-size: 35;
}

@media (max-width: 750px) {
  .nav-home{
    margin: 0px 10px;
    display: flex;
    align-items: center;
    font-size: 25;
  }
}

#nav-title {
  padding-left: 20px;
}

#home-img {
  width: 100px;
}

.nav-pages {
  display: flex;
  justify-content: end;
}

.nav-link {
  text-decoration: none;
  color:#582c83;;
}

.nav-page {
  padding: 0px 30px;
}

@media (max-width: 750px) {
  .nav-page {
    padding: 0px 15px;
  }
}

.nav-page a:hover {
  color: #cd1919;
}

/* Home page: game button styles */

.game-button {
  display: grid;
  justify-content: center;
  padding: 0px;
  margin: 20px;
  border: double 10px #582c83;
}

.game-link {
  filter: blur(8px);
  width: 250px;
}

.game-desc {
  display: grid;
  justify-content: center;
  margin-bottom: 100px;
}

/* About page styles */

.about-text {
  margin: 25px;
}

#feature-list {
  list-style: circle;
}

.role-text {
  font-weight: 500;
}
